<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739803817157-cbff3eiu301gnrkmlict7fktjppe372o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739803817157-cbff3eiu301gnrkmlict7fktjppe372o</string>
	<key>API_KEY</key>
	<string>AIzaSyB36gklkU895QGFnLfjZaEJqdDa1Qzn_mQ</string>
	<key>GCM_SENDER_ID</key>
	<string>739803817157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-402e8</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-402e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739803817157:ios:a2c25d5e5445c424c07cac</string>
</dict>
</plist>